form h3 {
	display: block;
	margin-right: 55px;
}
form p {
	padding: 0px;
	margin: 0px;
}
label {
	float: left;
	width: 200px;
	padding: 3px 5px;
	cursor: pointer;
}
label a {
	font-weight: normal;
	float: right;
}
label.normal {
	float: none;
	width: auto;
	display: block;
	padding: 0px;
}
input, textarea, button, select {
	font: 1em Arial, Helvetica, sans-serif;
	display: block;
}
input, textarea, select {
	margin: 10px 5px;
	width: 300px;
}
th select {
	margin: 0px;
	display: inline;
}
form {
}
select {
	width: 150px;
	max-width: 300px;
	padding: 0px;
}
optgroup {
	font-style: normal;
}
option {
}
.wrapperheader {
}
.wrapper {
	background: #EEE;
	height: auto;
	max-height: 200px; 
	overflow: auto; 
	margin: 5px;
	border-radius: 3px;
}
.auto {
	width: auto;
}
.medium {
	width: 30px;
}
.mini {
	width: 10px;
}
.upload {
	margin: 10px 0px;
}
input[type=checkbox], input[type=file] {
	border: none;
	width: auto;
	display: inline;
	margin: 0px;
}
input[type=radio], input[type=checkbox] {
	margin: 5px;
}
.catselector, .artselector {
	width: 225px;
	display: inline;
}
.artselector {
	width: 400px;
}
.article {
	clear: right;
}
textarea {
	width: 870px;
	height: 200px;
	min-height: 200px;
	resize: vertical;
	margin: 10px 0px;
}
#txtmargin {
	margin: 10px 5px;
}
input[type=radio] {
	width: auto;
	display: inline;
}
label.input {
	float: left;
	width: 100px;
	font-weight: normal;
	display: inline;
}
label.select {
	margin: 10px 0px 0px;
}
button {
	display: block;
	margin: 5px;
}
button.normal, input.normal, select.normal {
	display: inline;
}
