@charset "utf-8";
/* CSS Document */
html { overflow-y: scroll;}
body {
	font: 0.8em Arial, Helvetica, sans-serif;
	background: #1A1B1F url(../images/bg.gif) fixed no-repeat;
	margin: 0px;
}
.icon {
	margin-bottom: -3px;
}
a {
	color: #333;
}
h2, h3 {
	margin: 0px;
}
pre {
	font-size: 1.2em;
	border: 1px solid #AAA;
	background: #EEE;
	padding: 5px;
	overflow: auto;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
#betamessage {
	font-size: 1.2em;
	font-weight: bold;
	color: #FFF;
	background: #F00;
	text-align: center;
	padding: 10px;
}
#wrap {
	background: #FFF url(../images/contentbg.png) repeat-y left;
	padding: 0px 0px;
	min-height: 620px;
}
#header {
	font-size: 1.4em;
	padding: 10px;
}
#content {
	padding: 10px;
	margin-left: 260px;
}
#content h2 {
	border-bottom: 1px dotted #333;
}
#subcontent {
	padding: 0px 15px;
}
#subcontent p {
	padding: 5px;
}
#helpbox {
	border: 1px dotted #333;
	padding: 5px;
	float: right;
	width: 300px;
	margin-top: 5px;
}
#column1 {
	float: left;
}
#column2 {
	margin-left: 340px;
}
#footer {
	background: #333;
	color: #FFF;
	font-weight: bold;
	clear: both;
	padding: 5px;
	text-align: center;
}
#warning {
	text-decoration: blink;
	text-align: center;
	color: #F00;
    text-shadow: 0 0 5px #F00;
}
