#menuwrap {
	float: left;
	width: 265px;
	position: fixed;
	left: 0;
}
#menuwrap strong {
	display: block;
	font-size: 1.3em;
}
#menu, #userbox, #header {
	padding: 10px 0px 10px 50px;
}
#menu ul {
	margin: 0px;
	padding: 0px 20px;
	margin-bottom: 10px;
}
#userbox {
	background: #EEE;
}
#userbox a {
	border: none;
	display: inline;
}
