body {
	width: 80%;
	margin: 10px auto;
	color: #AAA;
}
.fauxlist {
	padding: 5px;
	background: #EEE;
	color: #333;
	border-radius: 3px;
	margin-top: 5px;
	clear: both;
}
.def {
	background: #CCC;
}
.delete {
	cursor: pointer;
}
.hider {
	color: #EEE;
	display: inline;
	position: relative;
	float: right;
	width: 300px;
	padding: 5px;
	margin-right: 3px;
	margin-bottom: 5px;
	display: none;
	background: #F00;
	border-radius: 0px 0px 3px 3px;
}
.hider a {
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}
.hider a.no {
	color: #0F0;
}

li {
    list-style-type: none; 
}

span.handle {
    cursor: n-resize;
    margin-left: 1.25em;
}

a.img-name{
    margin-left: .5em;
    position: relative;
    top: -3px;
}
