table {
	margin-top: 5px;
	padding: 5px;
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}
th, td {
	padding: 5px;
}
th {
	border-left: 1px solid #FFF;
	text-align: left;
	background: #333;
	color: #FFF;
}
#table_main {
	width: 60%;
}
.table_alt {
	background: #EEE;
}
.td-actions {
	border-left: 1px solid #AAA;
}
.td-placeholder {
	height: 30px;
}
#sortable tr .handle {
	cursor: n-resize;
}
td {
	border-bottom: 1px solid #AAA;
}
tr:hover {
}


.template {
	width: 120px;
	text-align: center;
	background: #EEE;
	margin: 5px;
	border-radius: 5px;
}
.template img:hover {
	position: relative;
	left: 0;
	top: 0;
}
.template:hover, .template:focus {
	background: #CCC;
	cursor: pointer;
}
.template strong, .template input {
	display: block;
}
.template input {
	background: red;
	margin: auto;
	border: 1px solid green;
}
.template img {
	width: 100px;
	height: 100px;
}
#preview {
	position: absolute;
	padding: 15px;
	margin: 5px;
	display: none;
	text-align: center;
	background: #CCC;
	border-radius: 5px;
}


.tbl_header_footer {
    background: #CC99FF;
}

.tbl_header_footer td {
    border-bottom: none;
    padding-top: 0;
}

.tbl_filter {
    background: #FFFFCC;
    width: 50px;
}
