
<html>
<head>
<title>Custom Tag Demo</title>
</head>
<body>


<h1>Custom Tag Demo</h1>

<p>This document includes multiple custom XML tags and scripting elements.</p>

<h2>Custom tag with no attributes and a body</h2>

<h4>Example</h4>

<p class="indent"><customTag>This is inside an XML style tag</customTag></p>

<h4>Code</h4>

<p class="code">&lt;customTag&gt;This is inside an XML style tag&lt;/customTag&gt;</p>

<p>&nbsp;</p>

<h2>Custom tag with no body and one attribute</h2>

<h4>Example</h4>

<p class="indent"><tagWithAttrib attrib='test'/></p>

<h4>Code</h4>

<p class="code">&lt;tagWithAttrib attrib='test'/&gt;</p>

<p>&nbsp;</p>

<h2>Custom tag with attributes and a body</h2>

<h4>Example</h4>

<p class="indent"><customTag attrib='test'>This is inside an XML style tag</customTag></p>

<h4>Code</h4>

<p class="code">&lt;customTag attrib='test'&gt;This is inside and XML style
tag&lt;/customTag&gt;</p>

<p>&nbsp;</p>

<h2>HTML comment tag</h2>

<h4>Example</h4>

<p class="indent"><!--This is a HTML comment tag--></p>

<h4>Code</h4>

<p class="code">&lt;!--This is a HTML comment tag--&gt;</p>

<p>&nbsp;</p>

<h2>ASP or JSP style scripting</h2>

<h4>Example</h4>

<p class="indent"><%example.scripting%></p>

<h4>Code</h4>

<p class="code">&lt;%example.scripting%&gt;</p>

<p>&nbsp;</p>

<h2>PHP style scripting</h2>

<h4>Example</h4>

<p class="indent"><?example scripting?>
</p>

<h4>Code</h4>

<p class="code">&lt;?example scripting?&gt;</p>

<p>&nbsp;</p>

<h2>JSTE style scripting</h2>

<h4>Example</h4>

<p class="indent"><#example scripting#></p>

<h4>Code</h4>

<p class="code">&lt;#example scripting#&gt;</p>

<p>&nbsp;</p>


</body>
</html>