body {
	font-family: Verdana;
	font-size: 10pt;
	margin:0px; 
	color: rgb(25,25,25);
}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial, sans-serif;
	letter-spacing: -0.5px;
}

h1 {
	font-size: 16pt;
	padding-bottom: 2px; 
	color: rgb(100,100,100);

}
h2 {
	color: rgb(50,50,50);
	padding-top:2px;
	margin-top:2px;
	font-size: 14pt;
}
h2 a{
	color: rgb(50,50,50);
	text-decoration: none;
}

h3 {
	margin-top:2px;
	margin-bottom:0px;
	font-size: 12pt;
}
h4 {
	margin-top:15px;
	margin-bottom:0px;
	font-size: 12pt;
	font-weight:normal;
	font-style: italic;
}
h5 {
	font-size:10pt;
}
h6 {
	margin-top:15px;
	margin-bottom:-10px;
	padding:0px;
	font-size:10pt;
	letter-spacing:0px;
	font-weight:normal;
	font-style: italic;
}

a{
	color:#375ca8;
}


hr {
	height: 1px;
	color: rgb(220,220,220);
	border:0px;
}
