
BODY
{
    FONT-FAMILY: Arial
}

H1
{
    FONT-FAMILY: Helvetica,  Arial, sans-serif;
    FONT-SIZE: 16pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
}

H2
{
    FONT-FAMILY: Helvetica, Arial, sans-serif;
    FONT-SIZE: 12pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
}

H3
{
    FONT-FAMILY: Helvetica, Arial, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
}

P, TD
{
   FONT-SIZE: 10pt;
}

p.byline {  font-style: italic; text-align: right;}

h1.sample {   font-family: Tahoma, Arial;   font-size: 24pt;   font-weight: normal;   color: #003366;   border-bottom: solid 1px #003366;}
