.ke-inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-clearfix {
	zoom: 1;
}
.ke-clearfix:after {
	content: ".";
	display: block;
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.ke-text {
	font-size: 12px;
	font-family: "sans serif",tahoma,verdana,helvetica;
}
.ke-icon-source {
	background-position: 0px 0px;
	width: 16px;
	height: 16px;
}
.ke-icon-print {
	background-position: 0px -32px;
	width: 16px;
	height: 16px;
}
.ke-icon-undo {
	background-position: 0px -48px;
	width: 16px;
	height: 16px;
}
.ke-icon-redo {
	background-position: 0px -64px;
	width: 16px;
	height: 16px;
}
.ke-icon-cut {
	background-position: 0px -80px;
	width: 16px;
	height: 16px;
}
.ke-icon-copy {
	background-position: 0px -96px;
	width: 16px;
	height: 16px;
}
.ke-icon-paste {
	background-position: 0px -112px;
	width: 16px;
	height: 16px;
}
.ke-icon-selectall {
	background-position: 0px -128px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifyleft {
	background-position: 0px -144px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifycenter {
	background-position: 0px -160px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifyright {
	background-position: 0px -176px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifyfull {
	background-position: 0px -192px;
	width: 16px;
	height: 16px;
}
.ke-icon-insertorderedlist {
	background-position: 0px -208px;
	width: 16px;
	height: 16px;
}
.ke-icon-insertunorderedlist {
	background-position: 0px -224px;
	width: 16px;
	height: 16px;
}
.ke-icon-indent {
	background-position: 0px -240px;
	width: 16px;
	height: 16px;
}
.ke-icon-outdent {
	background-position: 0px -256px;
	width: 16px;
	height: 16px;
}
.ke-icon-subscript {
	background-position: 0px -272px;
	width: 16px;
	height: 16px;
}
.ke-icon-superscript {
	background-position: 0px -288px;
	width: 16px;
	height: 16px;
}
.ke-icon-title {
	background-position: 0px -336px;
	width: 25px;
	height: 16px;
}
.ke-icon-fontname {
	background-position: 0px -352px;
	width: 21px;
	height: 16px;
}
.ke-icon-fontsize {
	background-position: 0px -368px;
	width: 23px;
	height: 16px;
}
.ke-icon-textcolor {
	background-position: 0px -384px;
	width: 20px;
	height: 16px;
}
.ke-icon-bgcolor {
	background-position: 0px -400px;
	width: 20px;
	height: 16px;
}
.ke-icon-bold {
	background-position: 0px -416px;
	width: 16px;
	height: 16px;
}
.ke-icon-italic {
	background-position: 0px -432px;
	width: 16px;
	height: 16px;
}
.ke-icon-underline {
	background-position: 0px -448px;
	width: 16px;
	height: 16px;
}
.ke-icon-strikethrough {
	background-position: 0px -464px;
	width: 16px;
	height: 16px;
}
.ke-icon-removeformat {
	background-position: 0px -480px;
	width: 16px;
	height: 16px;
}
.ke-icon-image {
	background-position: 0px -496px;
	width: 16px;
	height: 16px;
}
.ke-icon-flash {
	background-position: 0px -512px;
	width: 16px;
	height: 16px;
}
.ke-icon-media {
	background-position: 0px -528px;
	width: 16px;
	height: 16px;
}
.ke-icon-hr {
	background-position: 0px -592px;
	width: 16px;
	height: 16px;
}
.ke-icon-emoticons {
	background-position: 0px -608px;
	width: 16px;
	height: 16px;
}
.ke-icon-link {
	background-position: 0px -624px;
	width: 16px;
	height: 16px;
}
.ke-icon-unlink {
	background-position: 0px -640px;
	width: 16px;
	height: 16px;
}
.ke-icon-fullscreen {
	background-position: 0px -656px;
	width: 16px;
	height: 16px;
}
.ke-icon-about {
	background-position: 0px -672px;
	width: 16px;
	height: 16px;
}
.ke-icon-plainpaste {
	background-position: 0px -704px;
	width: 16px;
	height: 16px;
}
.ke-icon-wordpaste {
	background-position: 0px -720px;
	width: 16px;
	height: 16px;
}
.ke-icon-advtable {
	background-position: 0px -784px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablemenu {
	background-position: 0px -768px;
	width: 16px;
	height: 16px;
}
.ke-icon-tableinsert {
	background-position: 0px -784px;
	width: 16px;
	height: 16px;
}
.ke-icon-tabledelete {
	background-position: 0px -800px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablecolinsertleft {
	background-position: 0px -816px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablecolinsertright {
	background-position: 0px -832px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablerowinsertabove {
	background-position: 0px -848px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablerowinsertbelow {
	background-position: 0px -864px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablecoldelete {
	background-position: 0px -880px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablerowdelete {
	background-position: 0px -896px;
	width: 16px;
	height: 16px;
}
.ke-icon-tablecellprop {
	background-position: 0px -912px;
	width: 16px;
	height: 16px;
}
.ke-icon-tableprop {
	background-position: 0px -928px;
	width: 16px;
	height: 16px;
}
.ke-icon-checked {
	background-position: 0px -944px;
	width: 16px;
	height: 16px;
}
.ke-container {
	font-family: "sans serif",tahoma,verdana,helvetica;
	border: 1px solid #CCCCCC;
	background-color: #F0F0EE;
	table-layout: fixed;
	overflow: hidden;
	border-collapse:separate;
	padding:0;
	margin:0;
}
.ke-toolbar-outer {
	border: 0;
	padding: 0;
	margin: 0;
}
.ke-toolbar {
	width: 100%;
	border:0;
	padding:0;
	margin:0;
	border-collapse:separate;
}
.ke-toolbar td {
	border:0;
	padding: 2px 5px;
	margin:0;
}
.ke-toolbar-table {
	font-size: 0;
	line-height: 0;
	float: left;
	clear: both;
	border:0;
	padding:0;
	margin:0;
	border-collapse:separate;
}
.ke-toolbar-separator {
	border-left: 1px solid #A0A0A0;
	border-right: 1px solid #FFFFFF;
	border-top:0;
	border-bottom:0;
	width: 0;
	padding: 0;
	margin: 0 2px;
	height: 16px;
}
.ke-toolbar-table td {
	border:0;
	padding: 0;
	margin:0;
}
.ke-bottom-outer {
	border: 0;
	padding: 0;
	margin: 0;
}
.ke-bottom {
	width: 100%;
	font-size: 0;
	line-height: 0;
	border: 0;
	padding:0;
	margin:0;
	height:11px;
	border-collapse:separate;
}
.ke-bottom-left {
	width: 100%;
	cursor: s-resize;
	border:0;
	margin:0;
	padding:0;
	text-align: center;
	vertical-align: middle;
}
.ke-bottom-left-img {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	background-position: -0px -754px;
	width: 15px;
	height: 11px;
	background-image: url(./default/default.gif);
	margin: 0;
	padding: 0;
	border: 0;
}
.ke-bottom-right {
	cursor: se-resize;
	border:0;
	margin:0;
	padding:0;
	text-align: right;
	vertical-align: bottom;
}
.ke-bottom-right-img {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	background-position: -9px -745px;
	width: 7px;
	height: 7px;
	background-image: url(./default/default.gif);
	margin: 0;
	padding: 0;
	border: 0;
}
.ke-textarea-outer {
	border: 0;
	padding: 0;
	margin: 0;
}
.ke-textarea-table {
	width: 100%;
	padding: 0;
	margin: 0;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left:0;
	border-right:0;
	background-color: #FFFFFF;
	border-collapse:separate;
	table-layout: fixed;
}
.ke-textarea-table td {
	border:0;
	padding:0;
	margin:0;
}
.ke-textarea {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 12px;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	line-height: 18px;
	overflow: auto;
	resize: none;
}
.ke-textarea:focus {
	outline: none;
}
.ke-iframe {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
}
.ke-common-icon {
	width: 16px;
	margin: 0;
	padding: 0;
	border: 0;
	background-repeat: no-repeat;
	overflow: hidden;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-common-icon-url {
	background-image: url(./default/default.gif);
}
.ke-icon {
	width: 16px;
	border: 1px solid #F0F0EE;
	background-color: transparent;
	padding: 10px 5px;
	cursor: pointer;
}
.ke-icon-on {
	width: 16px;
	border: 1px solid #5690D2;
}
.ke-icon-selected {
	border: 1px solid #5690D2;
	background-color: #E9EFF6;
}
.ke-icon-disabled {
	border: 1px solid #F0F0EE;
	cursor: default;
}
.ke-menu {
	position: absolute;
	border: 1px solid #A0A0A0;
	background-color: #F1F1F1;
	color: #222222;
	padding: 2px;
	margin: 0;
	font-family: "sans serif",tahoma,verdana,helvetica;
	font-size: 12px;
	text-align: left;
	z-index: 19811214;
}
.ke-menu-item {
	border: 1px solid #F1F1F1;
	background-color: #F1F1F1;
	color: #222222;
	padding: 0;
	margin: 0;
	height: 24px;
	overflow: hidden;
	cursor: pointer;
}
.ke-menu-item-on {
	border: 1px solid #5690D2;
	background-color: #E9EFF6;
}
.ke-menu-left {
	border: 0;
	margin: 0;
	padding: 0;
	width: 20px;
	overflow: hidden;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-menu-center {
	margin: 0;
	padding: 0;
	width: 0;
	height: 24px;
	border-top: 0;
	border-bottom: 0;
	border-left: 1px solid #F1F1F1;
	border-right: 1px solid #F1F1F1;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-menu-center-on {
	border-left: 1px solid #E9EFF6;
	border-right: 1px solid #E9EFF6;
}
.ke-menu-right {
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 24px;
	text-align: left;
	overflow: hidden;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-menu-separator {
	margin: 2px 0;
	padding: 0;
	height: 0;
	overflow: hidden;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0;
	border-right: 0;
}
.ke-contextmenu {
	position: absolute;
	border: 1px solid #A0A0A0;
	background-color: #F1F1F1;
	color: #222222;
	padding: 2px;
	margin: 0;
	width: 200px;
	font-family: "sans serif",tahoma,verdana,helvetica;
	font-size: 12px;
	text-align: left;
	z-index: 19811214;
}
.ke-contextmenu-item {
	border: 1px solid #F1F1F1;
	background-color: #F1F1F1;
	color: #222222;
	padding: 0;
	margin: 0;
	height: 24px;
	overflow: hidden;
	cursor: pointer;
}
.ke-contextmenu-item-on {
	border: 1px solid #5690D2;
	background-color: #E9EFF6;
}
.ke-contextmenu-left {
	border: 0;
	margin: 0;
	padding: 0;
	width: 27px;
	text-align: center;
	overflow: hidden;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-contextmenu-center {
	margin: 0;
	padding: 0;
	width: 0;
	height: 24px;
	border-left: 1px solid #E3E3E3;
	border-right: 1px solid #FFFFFF;
	border-top: 0;
	border-bottom: 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-contextmenu-center-on {
	border-left: 1px solid #E9EFF6;
	border-right: 1px solid #E9EFF6;
}
.ke-contextmenu-right {
	border: 0;
	margin: 0;
	padding: 0 0 0 5px;
	line-height: 24px;
	text-align: left;
	overflow: hidden;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-contextmenu-separator {
	margin: 2px 0;
	padding: 0;
	height: 0;
	overflow: hidden;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0;
	border-right: 0;
}
.ke-dialog {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #F0F0EE;
}
.ke-dialog-shadow {
	border: 1px solid #A0A0A0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 4px 16px #A0A0A0;
}
.ke-dialog-no-shadow {
	border: 1px solid #A0A0A0;
}
.ke-dialog-title {
	border:0;
	margin:0;
	padding:0;
	background-color: #F0F0EE;
	padding: 10px;
	text-align: left;
	font: 14px/1 "sans serif",tahoma,verdana,helvetica;
	font-weight: bold;
	color: #222222;
	cursor: move;
}
.ke-dialog-close {
	display: block;
	background-position: 0px -688px;
	width: 16px;
	height: 16px;
	position: absolute;
	border: 0;
	margin: 0;
	padding: 0;
	right: 10px;
	top: 10px;
	cursor: pointer;
	background-image: url(./default/default.gif);
	overflow: hidden;
}
.ke-dialog-body {
	border:0;
	margin:0;
	padding:0;
	margin: 10px 10px 0 10px;
}
.ke-dialog-iframe {
	display: block;
	margin: 0;
	padding: 0;
}
.ke-dialog-iframe-border {
	border: 1px solid #A0A0A0;
	margin-bottom: 5px;
}
.ke-dialog-bottom {
	border:0;
	margin:0;
	padding:0;
	font: 12px/1 "sans serif",tahoma,verdana,helvetica;
	text-align: right;
	padding:0 0 5px 0;
}
.ke-dialog-preview {
	margin: 5px;
}
.ke-dialog-yes {
	margin: 5px;
}
.ke-dialog-no {
	margin: 5px 10px 5px 5px;
}
.ke-mask {
	border:0;
	margin:0;
	padding:0;
	position: absolute;
	z-index: 19811212;
	top: 0;
	left: 0;
	display: none;
	background-color: #FFFFFF;
}
.ke-button-common {
	background: url(./default/bg.gif) no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 25px;
	line-height: 25px;
	overflow: visible;
	display: inline-block;
	vertical-align: top;
}
.ke-button-outer {
	background-position: 0 0;
	padding: 0;
	position: relative;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}
.ke-button {
	background-position: right 0;
	padding: 0 12px;
	margin: 0;
	font-family: "sans serif",tahoma,verdana,helvetica;
	border: 0 none;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	left: 2px;
	text-decoration: none;
}
.ke-text-input {
	background-color:#FFFFFF;
	font-family: "sans serif",tahoma,verdana,helvetica;
	font-size: 12px;
	line-height: 17px;
	height: 17px;
	padding: 2px 4px;
	border-color: #848484 #E0E0E0 #E0E0E0 #848484;
	border-style: solid;
	border-width: 1px;
}
.ke-colorpicker {
	position: absolute;
	border: 1px solid #A0A0A0;
	background-color: #F1F1F1;
	color: #222222;
	padding: 2px;
	margin: 0;
	font-size: 12px;
	text-align: left;
}
.ke-colorpicker-table {
	border:0;
	margin:0;
	padding:0;
	border-collapse: separate;
}
.ke-colorpicker-cell {
	font-size: 0;
	line-height: 0;
	border: 1px solid #F0F0EE;
	cursor: pointer;
	margin:3px;
	padding:0;
}
.ke-colorpicker-cell-top {
	font-family: "sans serif",tahoma,verdana,helvetica;
	font-size: 12px;
	line-height: 24px;
	border: 1px solid #F0F0EE;
	cursor: pointer;
	margin:0;
	padding:0;
	text-align: center;
}
.ke-colorpicker-cell-on {
	border: 1px solid #5690D2;
}
.ke-colorpicker-cell-selected {
	border: 1px solid #2446AB;
}
.ke-colorpicker-cell-color {
	width: 14px;
	height: 14px;
	margin: 3px;
	padding: 0;
	border: 0;
}
.ke-loading-table {
	border:0;
	margin:0;
	padding:0;
	border-collapse: separate;
}
.ke-loading-table  td{
	border:0;
	margin:0;
	padding:0;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}
.ke-loading-img {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	background-repeat: no-repeat;
	background-image: url(./common/loading.gif);
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}
.ke-reset {
	margin: 0;
	padding: 0;
	border: 0;
}
.ke-plugin-emoticons-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}
.ke-plugin-emoticons-preview {
	position: absolute;
	text-align: center;
	margin: 2px;
	padding: 10px;
	top: 0;
	border: 1px solid #A0A0A0;
	background-color: #FFFFFF;
	display: none;
}
.ke-plugin-emoticons-table {
	border:0;
	margin:0;
	padding:0;
	border-collapse:separate;
}
.ke-plugin-emoticons-cell {
	margin:0;
	padding:1px;
	border:1px solid #F0F0EE;
	cursor:pointer;
}
.ke-plugin-emoticons-cell-on {
	border: 1px solid #5690D2;
	background-color: #E9EFF6;
}
.ke-plugin-emoticons-img {
	display:block;
	background-repeat:no-repeat;
	overflow:hidden;
	margin:2px;
	width:24px;
	height:24px;
	background-image:url(../plugins/emoticons/qq.gif);
	margin: 0;
	padding: 0;
	border: 0;
}
.ke-plugin-emoticons-page {
	text-align: right;
	margin: 5px;
	padding: 0;
	border: 0;
	font-family: "sans serif",tahoma,verdana,helvetica;
	font-size:12px;
	line-height: 1;
	color: #333333;
	text-decoration: none;
}
.ke-plugin-emoticons-page a {
	color: #337FE5;
	text-decoration: none;
}
