
body
{
    font-family: arial;
    background-color: white;
}

h1
{
    font-family: Arial, sans-serif;
    font-size: 16pt;
    font-style: normal;
    font-weight: bold;
}

h2
{
    font-family: Arial, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
}

h3
{
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: bold;
}

p, td, th
{
   font-size: 9pt;
}

hr
{
   height: 1px;
   color: teal;
}

input, select
{
	font-size:8pt;
}

textarea
{
    font-family: Arial, sans-serif;
    font-size: 8pt;
}
