<!--- Delete the specified article from the database --->
<CFQUERY DATASOURCE="ELContent" name="article_delete">
DELETE FROM articles
WHERE article_id=<cfqueryparam value="#FORM.article_id#" cfsqltype="cf_sql_integer">
</CFQUERY>

<!--- Go back to the start page --->
<CFLOCATION URL="start.cfm">